.container {
  width: 100vw;
  height: 100vh;
}

.loginCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomeDiv {
  width: 100%;
  height: 100vh;
  max-width: 50vw;
  background-color: #1161ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: azure;
}

.welcome_img {
    width: 100%;
    padding: 0 100px;
}
.img__ {
    width: -webkit-fill-available;
}
.welcomeBackHeader {
  font-size: 3rem;
  margin-bottom: 80px;
  color: azure;
  font-weight: 500;
}
.span {
    font-style:italic ;
}

.loginDiv {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginDivMobile {
    background-color: #1161ee;

}

.dashboard {
  display: flex;
  height: 100vh;
  width: 100%;
}
.sidebar {
  width: 20%;
  background-color: #f7f7f7;
  border-right: solid 1px #e3e3e3;
  display: flex;
  flex-direction: column;
}

.right_side {
  width: 100%;
  overflow-y: scroll;
}

/* STUDENTS PAGE */

.student_detail_container {
  padding: 10px 30px;
}

.greeting_container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  /* align-items: center; */
}

.subjects_grids {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 1400px) {
    .subjects_grids {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
      }
}

@media only screen and (max-width: 950px) {
    .subjects_grids {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
      }
}

@media only screen and (max-width: 554px) {
    .subjects_grids {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
    }
}

.subject_link {
    text-decoration: none;
    color: rgb(42, 41, 41);

}

.breadcrumbs {
    margin: 20px 10px;
}

.subject_stats {
    display: flex;
    gap: 40px;
}
.subject_stats h6 {
    margin: 0;
    font-size: 1rem;
}
.topic_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

  }

  .mobileDash {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    background: white;
    height: 100%;
  }