@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");


* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(42, 41, 41);
  background-color: aliceblue;
  margin: 0;

}

 /* Home Screen Styles */



h1 {
  font-weight: 700;
  font-size: 5rem;

}


main h2 {
  font-size: 2rem;
  margin-bottom: 0;
}
main h5 {
  margin-top: 0;
  font-weight: 400;
  text-align: justify;
}